
.calendar table {
    margin: 0 auto;
    width: 300px;
}

.calendar caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
}

.calendar td,
.calendar th {
    width: 14%;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.calendar-day {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.today {
    background-color: cornflowerblue;
    padding: 0 5px;
    border-radius: 10px;
    color: white;
}

.saturday {
    color: dodgerblue;
}

.sunday {
    color: orangered;
}
