<div>
    <p>@Message</p>
    <button @onclick="Yes" class="btn btn-primary">はい</button>
    <button @onclick="No" class="btn btn-secondary">いいえ</button>
</div>

@code { 
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] 
    public string Message { get; set; }

    async Task Yes() => await BlazoredModal.CloseAsync();
    async Task No() => await BlazoredModal.CancelAsync();
}