@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager


<div class="page">
    @* トップページはサイドバーを表示しない *@
    @if (MyNavigationManager.BaseUri != MyNavigationManager.Uri)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
