@inherits LayoutComponentBase
@using Blazored.Toast
@using vsWork.Stores
@inject IState<CurrentUserState> CurrentUserState

<div class="page">
    @* 認証していない場合はサイドバーを表示しない *@
    @if (!string.IsNullOrEmpty(CurrentUserState.Value.User.UserId))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" />

<Toaster />
