@inherits LayoutComponentBase

@inject UserActionService userActionService
@inject IDispatcher Dispatcher
@using Blazored.Toast
<div class="page">
    @* 認証していない場合はサイドバーを表示しない *@
    @if (!string.IsNullOrEmpty(userActionService.UserInfo.UserId))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" />

<Toaster />
