@using Microsoft.AspNetCore.Components.Server.Circuits;
@implements IDisposable
@using vsWork.Stores

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="#">勤怠システム</a>@*タッチ無効かサインアウト処理にしたい*@
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ユーザー設定
            </NavLink>
        </li>
        @if (CurrentState.Value.User.Rank == User.RankType.SystemAdmin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="organizationList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 組織設定
                </NavLink>
            </li>
        }
        @if (CurrentState.Value.User.Rank == User.RankType.SystemAdmin |
           CurrentState.Value.User.Rank == User.RankType.OrganizationAdmin)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="holidayList">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 休日設定
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <a class="navbar-brand">@(CurrentState.Value.User.UserName) 状態:@(EnumTextAttribute.GetText(CurrentState.Value.UserState.State))</a>
            <button class="nav-link" @onclick="LogOut">
                ログアウト
            </button>
        </li>
    </ul>
</div>

@code {
    [Inject]
    private NavigationManager navigationManager { get; set; }
    [Inject]
    private IState<CurrentUserState> CurrentState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        CurrentState.Value.StateChanged += OnUserStateChanged;
    }

    private void LogOut()
    {
        Dispatcher.Dispatch(new SignOutAction());
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void OnUserStateChanged(
        object sender, EventArgs e)
    {
        this.InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
        // 閉じられるとき、イベントのリリース
        CurrentState.Value.StateChanged -= OnUserStateChanged;
    }
}
