@using Microsoft.AspNetCore.Components.Server.Circuits;
@inject CurrentUserService CurrentUserService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">勤怠システム</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="navbar-brand">@(currentUserService.UserName) 状態:@(EnumTextAttribute.GetText(currentUserService.State))</a>
            <button class="nav-link" @onclick="LogOut">
                ログアウト
            </button>
        </li>
    </ul>
</div>

@code {
    [Inject]
    protected IRepository<Session, string> sessionRepository { get; set; }
    [Inject]
    protected CircuitHandler circuitHandlerService { get; set; }
    [Inject]
    protected NavigationManager navigationManager { get; set; }
    [Inject]
    protected CurrentUserService currentUserService { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void LogOut()
    {
        sessionRepository.Remove(((CircuitHandlerService)circuitHandlerService).CircuitId);
        currentUserService.SignOut();
        navigationManager.NavigateTo("");

    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
