@page "/organizationSetting"
@inherits vsWork.Shared.BasePage
@implements IDisposable
@using Fluxor
@using vsWork.Stores
@using vsWork.Shared
@using vsWork.Utils
<EditForm Model="@settingData" OnValidSubmit="OnClickRegist">
    <FluentValidationValidator @ref="fluentValidationValidator " />
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    <div class="form-group">
        <label for="id">OrganizationID</label>
        <input type="text" name="id" disabled="@(SettingState.Value.Mode != SettingMode.Add)" @bind-value="settingData.OrganizationId" maxlength="100" class="form-control" />
    </div>
    <div class="form-group">
        <label for="name">OrganizationName</label>
        <input type="text" name="name" @bind-value="settingData.OrganizationName" maxlength="100" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">設定</button>

</EditForm>
@code {
    [Inject]
    private IState<OrganizationSettingState> SettingState { get; set; }

    private Organization settingData = new Organization();
    protected override void OnInitialized()
    {
        settingData = SettingState.Value.SelectedOrganization;
        Navigation.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    private async Task OnClickRegist()
    {
        Dispatcher.Dispatch(new OrganizationSettingAction(settingData));
    }
    private void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        var returnUrl = Navigation!.ToBaseRelativePath(e.Location);
        if (returnUrl != "organizationList")
        {
            Dispatcher.Dispatch(new OrganizationSettingStateInitializeAction());
        }
    }
    void IDisposable.Dispose()
    {
        Navigation.LocationChanged -= LocationChanged;
    }
}
