@page "/top"
@inherits vsWork.Components.BasePage


<div class="col-md-12 text-center">
    <div>
        <vsWork.Components.Clock />
    </div>

    <button class="btn btn-primary">出勤</button>
    <button class="btn btn-secondary">退勤</button>
</div>

@code {

}
