@page "/top"
@inherits vsWork.Shared.BasePage

<div class="col-md-12 text-center">
    <div>
        <vsWork.Components.Clock />
    </div>

    <button class="btn btn-primary" @onclick="PunchIn">出勤</button>
    <button class="btn btn-secondary" @onclick="PunchOut">退勤</button>
</div>

@code {
    [Inject]
    private UserActionService currentUserService { get; set; }
    [CascadingParameter]
    public IModalService Modal { get; set; }

    /// <summary>
    /// 出勤打刻
    /// </summary>
    private async Task PunchIn()
    {
        if (string.IsNullOrEmpty(currentUserService.UserInfo.UserId))
        {
            return;
        }

        if (currentUserService.State != UserState.StateType.PunchIn)
        {
            currentUserService.PunchIn();

            var parameters = new ModalParameters();
            parameters.Add(nameof(ModalDisplay.Message), "出勤打刻しました" + Environment.NewLine + currentUserService.PunchInTimeStamp.ToLongTimeString());
            parameters.Add(nameof(ModalDisplay.DispType), ModalDisplay.EnumDispType.Confirm);
            var options = new ModalOptions { HideCloseButton = true };
            var messageForm = Modal.Show<ModalDisplay>("確認", parameters, options);
            var result = await messageForm.Result;
        }
        else
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ModalDisplay.Message), "出勤打刻済みです" + Environment.NewLine + currentUserService.PunchInTimeStamp.ToLongTimeString());
            parameters.Add(nameof(ModalDisplay.DispType), ModalDisplay.EnumDispType.Confirm);
            var options = new ModalOptions { HideCloseButton = true };
            var messageForm = Modal.Show<ModalDisplay>("エラー", parameters, options);
            var result = await messageForm.Result;
        }
    }
    /// <summary>
    /// 退勤打刻
    /// </summary>
    private async Task PunchOut()
    {
        if (currentUserService.State == UserState.StateType.PunchIn)
        {
            currentUserService.PunchOut();

            var parameters = new ModalParameters();
            parameters.Add(nameof(ModalDisplay.Message), "退勤打刻しました");
            parameters.Add(nameof(ModalDisplay.DispType), ModalDisplay.EnumDispType.Confirm);
            var options = new ModalOptions { HideCloseButton = true };
            var messageForm = Modal.Show<ModalDisplay>("確認", parameters, options);
            var result = await messageForm.Result;
        }
        else
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ModalDisplay.Message), "退勤打刻済みです");
            parameters.Add(nameof(ModalDisplay.DispType), ModalDisplay.EnumDispType.Confirm);
            var options = new ModalOptions { HideCloseButton = true };
            var messageForm = Modal.Show<ModalDisplay>("エラー", parameters, options);
            var result = await messageForm.Result;
        }
    }
}
