@page "/top"
@inherits vsWork.Shared.BasePage

    <vsWork.Components.Dialog Title=@dialogContent.Title
                               ContentLine1=@dialogContent.ContentLine1
                               ContentLine2=@dialogContent.ContentLine2
                               @bind-IsShow=@dialogContent.IsShow />

<div class="col-md-12 text-center">
    <div>
        <vsWork.Components.Clock />
    </div>

    <button class="btn btn-primary" @onclick="PunchIn">出勤</button>
    <button class="btn btn-secondary" @onclick="PunchOut">退勤</button>
</div>

@code {
    [Inject]
    private UserActionService currentUserService { get; set; }

    private vsWork.Components.Dialog.DialogContent dialogContent = new Components.Dialog.DialogContent();
    /// <summary>
    /// 出勤打刻
    /// </summary>
    private async Task PunchIn()
    {
        if (string.IsNullOrEmpty(currentUserService.UserId))
        {
            return;
        }

        if (currentUserService.State != UserState.StateType.PunchIn)
        {
            currentUserService.PunchIn();

            dialogContent.Initialize();
            dialogContent.Title = "確認";
            dialogContent.ContentLine1 = "出勤打刻しました";
            dialogContent.ContentLine2 = currentUserService.PunchInTimeStamp.ToLongTimeString();
            dialogContent.IsShow = true;
        }
        else
        {
            dialogContent.Initialize();
            dialogContent.Title = "エラー";
            dialogContent.ContentLine1 =  "出勤打刻済みです";
            dialogContent.ContentLine2 = currentUserService.PunchInTimeStamp.ToLongTimeString();
            dialogContent.IsShow = true;
        }
    }
    /// <summary>
    /// 退勤打刻
    /// </summary>
    private async Task PunchOut()
    {
        dialogContent.Initialize();
        if (currentUserService.State == UserState.StateType.PunchIn)
        {
            currentUserService.PunchOut();
            dialogContent.Title = "確認";
            dialogContent.ContentLine1 = "退勤打刻しました";
            dialogContent.IsShow = true;
        }
        else
        {
            dialogContent.Title = "エラー";
            dialogContent.ContentLine1 = "退勤打刻済みです";
            dialogContent.IsShow = true;
        }
    }
}
