@page "/top"
@inherits BasePage


<div class="col-md-12 text-center">
    <div>
        <vsWork.Components.Clock />
    </div>

    <button class="btn btn-primary" @onclick="PunchIn">出勤</button>
    <button class="btn btn-secondary" @onclick="PunchOut">退勤</button>
</div>

@code {
    [Inject]
    protected IRepository<Attendance, string> attendanceRepository { get; set; }
    [Inject]
    protected CurrentUserService currentUserService { get; set; }

    /// <summary>
    /// 出勤打刻
    /// </summary>
    private async Task PunchIn()
    {
        // 後々、ユーザーの状態管理テーブルを作りたい。打刻に応じてトリガーで更新すれば良いと思う。
        // 打刻済みなら打刻させないようにする必要あり
        if (!string.IsNullOrEmpty(currentUserService.UserId))
        {
            attendanceRepository.Add(new Attendance() { UserId = currentUserService.UserId });
            //今いちボタンが反応しているか分からないのでダイアログ表示予定
        }
    }
    /// <summary>
    /// 退勤打刻
    /// </summary>
    private async Task PunchOut()
    {

    }
}
