@page "/userState"
@inject vsWork.Services.UsersStateContainer UsersStateContainer
@implements IDisposable
<h2>Connected users</h2>
<ul>
    @foreach (var user in UsersStateContainer.UsersByConnectionId)
    {
        <li>@user.Key -@user.Value</li>
}
</ul>
@code {
protected override async Task OnInitializedAsync()
{
    UsersStateContainer.OnChange += OnMyChangeHandler;
}
public void Dispose()
{
    UsersStateContainer.OnChange -= OnMyChangeHandler;
}
private async void OnMyChangeHandler()
{
    //invoke on ui thread
    await InvokeAsync(StateHasChanged);
}
}